<div class="home-container">
    <div class="home-grid">
      <div class="intro-section">
        <div class="badge">Full Stack Developer</div>
        
        <h1 class="title">
          Hi, I'm <span class="highlight">Daniel Chachagua</span>
        </h1>
        
        <p class="description">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
        </p>
  
        <div class="skills">
          <span class="skill-badge" *ngFor="let skill of skills">{{ skill }}</span>
        </div>
  
        <div class="actions">
          <button class="primary-button">
            View Projects <i class="icon icon-arrow-right"></i>
          </button>
          <button class="secondary-button">
            Contact Me
          </button>
        </div>
  
        <div class="social-links">
          <button class="icon-button">
            <i class="icon icon-github"></i>
          </button>
          <button class="icon-button">
            <i class="icon icon-linkedin"></i>
          </button>
          <button class="icon-button">
            <i class="icon icon-twitter"></i>
          </button>
        </div>
      </div>
  
      <div class="avatar-section">
        <div class="avatar-container">
          <div class="avatar-comment">YO</div>
          <div class="avatar-placeholder">
            <span>Mi FOTO :(</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  