<section class="flex flex-col w-[100%] min-h-[calc(100vh-64px)] h-auto justify-center items-center">
    <div
        class="flex flex-col h-auto max-w-[500px] w-[90%] justify-center items-center border-solid border-2 border-gray-200 border-r p-5 rounded-l shadow-2xl gap-8">
        <h2 class="">KANBAN</h2>
        <p>Registro</p>
        <form [formGroup]="registerForm" (submit)="onRegister()" class="flex flex-col w-full gap-5">
            <div clas>
                <input type="text" formControlName="username" placeholder="Nombre de Usuario" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <div>
                <input type="email" formControlName="email" placeholder="Email" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <div>
                <input type="password" formControlName="password" placeholder="Password" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <div>
                <input type="password" formControlName="passwordRepeat" placeholder="Repetir Password" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <div>
                <input type="text" formControlName="rol" placeholder="Rol de Usuario" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <div>
                <input type="text" formControlName="firstName" placeholder="Nombre" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <div>
                <input type="text" formControlName="lastName" placeholder="Apellido" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <div>
                <input type="text" formControlName="phoneNumber" placeholder="Número de teléfono" class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3"/>
            </div>
            <button type="submit" class="bg-blue-800 h-10 text-white font-bold rounded-l">Registrar</button>
        </form>
    </div>

</section>

<!-- <section class="flex flex-col w-[100%] min-h-[calc(100vh-64px)] h-auto justify-center items-center">
    <div
      class="flex flex-col h-auto max-w-[500px] w-[90%] justify-center items-center border-solid border-2 border-gray-200 border-r p-5 rounded-l shadow-2xl gap-8">
      <h2 class="">KANBAN</h2>
      <p>Iniciar sesión</p>
      <form  class="flex flex-col w-full gap-10">
        <input class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3" id="email" type="email"
           name="email" placeholder="Email" required />
        <input class="h-10 w-full  border-solid border-2 border-gray-200 rounded-xl p-3" id="password" type="password"
          name="password" placeholder="Contraseña" required="" />
        <div class="error">
         
        </div>
        <button type="submit" class="bg-blue-800 h-10 text-white font-bold rounded-l">Login</button>
      </form>
      <div class="">
        <p class="">O inicie sesión con:</p>
        
        <button class="">Google</button>
      </div>
    </div>
  </section> -->



  <!-- Manejo de errores -->
  <!-- <section class="lex flex-col w-[100%] min-h-[calc(100vh-64px)] h-auto justify-center items-center">
    <div
        class="flex flex-col h-auto max-w-[500px] w-[90%] justify-center items-center border-solid border-2 border-gray-200 border-r p-5 rounded-l shadow-2xl gap-8">
        <h2 class="">KANBAN</h2>
        <p>Iniciar sesión</p>
        <form [formGroup]="registerForm" (submit)="onRegister()" class="flex flex-col w-full gap-10">
            <div>
                <input type="text" formControlName="username" placeholder="Nombre de Usuario" />
                <p style="color: red;" *ngIf="registerForm.get('username')?.errors?.['required'] 
        && registerForm.get('username')?.['touched']">error</p>
                <p style="color: red;" *ngIf="registerForm.get('username')?.errors?.['invalidUsername'] 
        && registerForm.get('username')?.['touched']">ya existe el usuario</p>
                <p style="color: red;" *ngIf="registerForm.errors?.['inputsEquals']">user y email no pueden ser iguales
                </p>
            </div>
            <div>
                <input type="email" formControlName="email" placeholder="Email" />
                <p style="color: red;" *ngIf="registerForm.get('email')?.errors?.['email'] 
        && registerForm.get('email')?.['touched']">error</p>
                <p style="color: red;" *ngIf="registerForm.get('email')?.errors?.['invalidEmail'] 
        && registerForm.get('email')?.['touched']">ya existe el email</p>
                <p style="color: red;" *ngIf="registerForm.errors?.['inputsEquals']">user y email no pueden ser iguales
                </p>
            </div>
            <div>
                <input type="password" formControlName="password" placeholder="Password" />
                <p style="color: red;" *ngIf="registerForm.get('password')?.errors?.['passValid']
        && registerForm.get('password')?.['touched']">error</p>
            </div>
            <div>
                <input type="password" formControlName="passwordRepeat" placeholder="Repetir Password" />
                <p style="color: red;" *ngIf="registerForm.get('passwordRepeat')?.errors?.['passwordsNotMatch']
        && registerForm.get('passwordRepeat')?.['touched']">error</p>
            </div>
            <div>
                <input type="text" formControlName="rol" placeholder="Rol de Usuario" />
            </div>
            <div>
                <input type="text" formControlName="firstName" placeholder="Nombre" />
            </div>
            <div>
                <input type="text" formControlName="lastName" placeholder="Apellido" />
            </div>
            <div>
                <input type="text" formControlName="phoneNumber" placeholder="Número de teléfono" />
            </div>
            <button type="submit" class="bg-blue-800 h-10 text-white font-bold rounded-l">Registrar</button>
        </form>
    </div>

</section> -->