<section class="flex flex-row h-[calc(100vh-64px)] w-[100vw]">

    <app-sidenav></app-sidenav>


    <div class="flex flex-row h-full !max-w-[calc(100vw-288px)] w-full p-5">
        <div class="flex flex-row w-full h-full overflow-x-auto gap-3"  cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <ng-container *ngIf="listBoard !== null">
            <div class="min-w-64 h-auto max-h-full" *ngFor="let list of listBoard">
                <app-card-list [listBoard]="list" [connectedDropLists]="connectedDropLists"></app-card-list>
            </div>
            </ng-container>
                <button class="w-auto h-12 bg-gray-900 text-nowrap text-white pl-3 pr-16 opacity-85 rounded-lg text-left" (click)="createlist()">
                    + Añadir otra lista
                </button>
        </div>
    </div>

</section>